/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1086 {
    padding: var(--sectionPadding);
  }
  #gallery-1086 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1086 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #gallery-1086 .cs-title {
    margin: 0;
  }
  #gallery-1086 .cs-image-group {
    width: 100%;
    /* changes to 1280px at large desktop */
    max-width: 49rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, minmax(9vw, 1fr));
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #gallery-1086 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  #gallery-1086 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  #gallery-1086 .cs-picture1 {
    grid-column: 1 / span 6;
    grid-row: span 4;
  }
  #gallery-1086 .cs-picture2 {
    grid-column: 7 / span 6;
    grid-row: span 5;
  }
  #gallery-1086 .cs-picture3 {
    grid-column: 1 / span 6;
    grid-row: 5 / span 6;
  }
  #gallery-1086 .cs-picture4 {
    grid-column: 7 / span 6;
    grid-row: 6 / span 5;
  }
  #gallery-1086 .cs-picture5 {
    grid-column: 1 / span 6;
    grid-row: 11 / span 4;
  }
  #gallery-1086 .cs-picture6 {
    grid-column: 7 / span 6;
    grid-row: 11 / span 5;
  }
  #gallery-1086 .cs-picture7 {
    grid-column: 1 / span 6;
    grid-row: 15 / span 6;
  }
  #gallery-1086 .cs-picture8 {
    grid-column: 7 / span 6;
    grid-row: 16 / span 5;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1086 .cs-image-group {
    grid-template-rows: repeat(20, minmax(6rem, 1fr));
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #gallery-1086 .cs-image-group {
    max-width: 80rem;
    height: 49.0625rem;
    grid-template-rows: repeat(12, 1fr);
  }
  #gallery-1086 .cs-picture1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 7;
  }
  #gallery-1086 .cs-picture2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 10;
  }
  #gallery-1086 .cs-picture3 {
    grid-column: 7 / span 3;
    grid-row: 1 / span 5;
  }
  #gallery-1086 .cs-picture4 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 7;
  }
  #gallery-1086 .cs-picture5 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 13;
  }
  #gallery-1086 .cs-picture6 {
    grid-column: 4 / span 3;
    grid-row: 11 / span 10;
  }
  #gallery-1086 .cs-picture7 {
    grid-column: 7 / span 3;
    grid-row: 6 / span 15;
  }
  #gallery-1086 .cs-picture8 {
    grid-column: 10 / span 3;
    grid-row: 8 / span 13;
  }
}
